# Firebase Client Config (Optional overrides)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCwlSDuA69JeGihmWNQ0oHeUzghwP6ymtQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=civilservantprep-5af11.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://civilservantprep-5af11-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=civilservantprep-5af11
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=civilservantprep-5af11.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=592167317635
NEXT_PUBLIC_FIREBASE_APP_ID=1:592167317635:web:cc7090297a425c45c5ebb6
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-RECS6T30V5
