# Firebase Client Config (Optional overrides)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDN9JjLBZ2DA5kqokfmSU4R9rabP9zrbNI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=testone-18d5c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=testone-18d5c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=testone-18d5c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=66333783056
NEXT_PUBLIC_FIREBASE_APP_ID=1:66333783056:web:699e4cce4b64640d7e4695
