@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }

  #printable-leaderboard,
  #printable-leaderboard *,
  #printable-marksheet,
  #printable-marksheet * {
    visibility: visible;
  }

  #printable-leaderboard,
  #printable-marksheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    display: block !important;
    background: white !important;
    color: black !important;
  }

  /* Force background colors and borders in print */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
