create table if not exists public.user_streaks (
    student_id uuid primary key references auth.users(id) on delete cascade,
    current_streak integer not null default 1,
    last_active_date date not null default current_date
);

alter table public.user_streaks enable row level security;

create policy "Users can read own streak" on public.user_streaks
    for select using (auth.uid() = student_id);

create policy "Users can update own streak" on public.user_streaks
    for update using (auth.uid() = student_id);

create policy "Users can insert own streak" on public.user_streaks
    for insert with check (auth.uid() = student_id);
