create or replace function public.sync_user_streak(user_id uuid)
returns integer
language plpgsql
security definer
as $function
declare
    streak_record record;
    today date := current_date;
    yesterday date := current_date - interval '1 day';
    new_streak integer := 1;
begin
    select * into streak_record from public.user_streaks where student_id = user_id;

    if not found then
        insert into public.user_streaks (student_id, current_streak, last_active_date)
        values (user_id, 1, today);
        return 1;
    end if;

    if streak_record.last_active_date = today then
        return streak_record.current_streak;
    elsif streak_record.last_active_date = yesterday then
        new_streak := streak_record.current_streak + 1;
        update public.user_streaks
        set current_streak = new_streak, last_active_date = today
        where student_id = user_id;
        return new_streak;
    else
        update public.user_streaks
        set current_streak = 1, last_active_date = today
        where student_id = user_id;
        return 1;
    end if;
end;
$function;
